.mainheading{
    border: 1px solid grey;
    padding-top:30px; 
    padding-bottom: 30px;
    text-transform: capitalize;
    background-color: rgb(6, 55, 75);
    padding-left: 10px;
    color: #fff;
}

