
  .search{
    font-size: 15px;
  }
  .searchdet{
   padding-left: 0;
   padding-right: 0;
    margin: 0;
    
    
  }
  .para{
    color: rgb(161, 75, 17);
  }
  .heading5{
    color: rgb(121, 119, 119);
  }
  .scroll{
    overflow-y: scroll;
    height: 100vh;
  }
  .srhtitle{
    color: white;
    
    margin-left: 10px;
    text-align: center;

  }
  .vrr{
    border-right:5px solid white;
  }
  .titleret{
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  .nbold{
    font-weight: 100;
  }
  .rtdetail{
    padding-left: 15px;
  }
  .vrmain{
    border-right:1px solid rgb(167, 165, 165);
  }
  .dropdown{
    border: 0px;
    outline-style: none;
    background: transparent;
  }
  .vr{
    border-right: 1px solid grey;
  }
  .Airline_logo{
    width: 50px;
    text-align: left;
  
  }
  
  .fa-plane{
    padding-left: 5px;
    font-size: 40px;
    position: initial;
    color: #585759;
  }
  .fa-flip-vertical{
    font-size: 40px;
    position: relative;
    color: #aeaab3;
  }
  
  .leftside{
    bottom: 20px;
  }
  
  .booking-item-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(218, 226, 226);
    font-size: 15px;
    margin-bottom: 10px;
    
  }
  .booking-item-container:hover{
    background-color: rgb(145, 151, 149)
  }
  .booking-item-container.active{ 
    background-color: rgb(44, 207, 153)!important
  }
  
  .stops{
    padding: 0;
    margin: 0;
  }
  .stopbtn{
   height: 60px;
    background-color: #f0f0f0;
    border-right:1px solid #dddbdf;
    box-shadow:2px 2px rgb(172, 168, 168);
  }
  .booking-item{
    width: 100%;
        display: inline-block;
    padding: 10px;
  }
  
  
  
  .booking-item-details{
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    
  }
  
  .booking-item-price{
    font-size: 18px;
    color: rgb(8, 117, 81);
    font-weight: bold;
    
  }
  
  .or{
    border-color: 	#D3D3D3;
  }
  
  .booking-list{
    display: inline-grid;
    width: 100%;
    margin-bottom: 0;
    
    
  }
  .bg{
    background-color: #1b1b1b
  }
  #Fligh_Details{
    padding-left: 12px;
    padding-top: 8px;
  }

  #Fligh_DetailsRet{
    
    padding-top: 8px;
    bottom: 0;
    left: 0;
    position: fixed;
  }
  .rowlink{
margin-left: 0;
  }
  .left{
    padding: 0;
  }
  .rowleft{
    margin-left: 0;
    margin-right: 0;
  }
  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .custom-check{
    color: #000;
    font-size: 13px !important;
    font-weight: 300;
  }
  .border{
border-right: 1px solid rgb(53, 52, 52);
  }
   #Filters{
   
   height: 100% !important;
   padding-top: 0;
   background-color:rgb(6, 55, 75);
   box-sizing: border-box;
   z-index: 1;
   
   
    
  }
  .filteroptions{
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(6, 55, 75);
    box-sizing: border-box;
    
    
  }
  .filterheading{
    color: rgb(196, 187, 187);
  }
  #Filters ul{
    color: #f0f0f0;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  
  .submit{
    background-color: rgb(179, 51, 51);
  
    border:none;
    padding: 5px 15px;
    border-radius: 3px;
  }
  .shrinkFilter{
    display: none;
  }
  .sidebar{
    display: none;
   
  }
  .grey{
    background-color: #565657;
  }
  .details{
    background-color: #D3D3D3;
    margin:10px 0;
    color: #000;
  }
  .mobile{
    display: none;
    margin: 0;
  }
  
  @media only screen and (max-width: 993px) {
    .fa-flip-vertical{
      bottom: 5px;
    }
    
    .submit {
      padding: 5px;
     }
  }
  @media only screen and (max-width: 768px) {
      .shrinkFilter {
          border-radius: 3px;
          display: block;
          margin:10px;
          
      }
      .submit {
       padding: 3px;
      }
      #Filters{
        display: none;
      }
      
      .sidebar li{
        padding-left: 20px;
      }
      .sidebar{
          background-color: rgb(6, 55, 75);
          padding: 5px;
          display: block;
      }
  }
  .booking-sort{
    background-color: #f0f0f0;
    margin: 10px;
    margin-left: 0;
    
    padding: 5px;
    font-size: 13px;
  }
  
  p{
    font-size: 15px;
    line-height: 15px;
  }
  
  ul{
    list-style-type: none;
    padding-left: 0px;
  }
  li{
    font-size: 13px;
    background-color: transparent;
  }
  
  h4{
    line-height: 2px;
    font-size: 13px;
  }
  
  .booking-item-airline-logo p{
    
    font-size: 14px;
    color: rgb(153, 17, 17);
    font-weight: 600;
  }
  
  .booking-item-departure{
    
    font-weight: bold;
  }
  
  .booking-item-arrival{
    
    font-weight: bold;
  }
  
  /*.showTotalTime{
    width: 100%;
    
  
  }*/
  
  /*.showFareAndBook{
    width: 100%;
  }*/
  
  .booking-item-destination{
    bottom: 10px;
    padding-left: 15px;
    position : relative;
    font-weight: bold;
  }
  @media only screen and (max-width: 575px) {
.srhtitle{
  display: none;
}
.submit {
  display:none;
 } 
 
.mobile{
  display: block;
}
.rowlink{
  display: none;
}
.duration{
  width:500px;
  border-bottom:1px dashed black; 
  
}
  }
